.header__top-nav {
  display: flex;
  justify-content: space-between;
  max-width: 617px;
  width: 100%;
}

.nav__list-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  padding: 0 10px;
  max-height: 200px;
  background-color: #00110A;

  @media (max-width: $px768) {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: all 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.mobile-nav-active {
      min-height: 100vh;

      .nav__item-header {
        margin-bottom: 50px;
      }
    }
  }

  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;
    transition: all .15s ease;
  }
}

.nav__item-header {
  white-space: nowrap;
}

.header__top-contacts-phone {
  white-space: nowrap;
}

.nav__list-footer {
  display: flex;
  column-gap: 60px;

  @media (max-width: $px768) {
    padding-right: 21px;
    position: absolute;
    top: 230px;
    width: 100%;
    column-gap: 7%;
  }

  @media (max-width: $px480) {
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }

  li {
    margin-right: auto;

    @media (max-width: $px480) {
      margin-right: unset;
    }

    a {
      white-space: nowrap;
      font-weight: 500;
      font-size: 20px;
      line-height: 44px;
      transition: all .15s ease;

      @media (max-width: $px480) {
        margin: 0 auto;
      }
    }
  }
}