.section {
  // outline: 1px solid red;
  min-height: 500px;
  position: relative;
  padding: 0 30px;

  @media (max-width: $px768) {
    padding: 0 19px;
  }

  @media (max-width: $px360) {
    padding: 0 15px;
  }
}