@import '../utils/breakpoints.scss';

.burger {
    display: none;
    cursor: pointer;
    background-color: #00110A;

    @media (max-width: $px768) {
        display: block;

        &.burger-hide {
            display: none;
        }
    }

    img {
        max-width: unset;
        width: 40px;
        height: 28px;
    }
}

.burger-show {
    @media (max-width: $px768) {
        display: block;
    }
}