.mobile-menu__close-btn {
  display: none;
  background-color: #00110A;
  position: relative;
  z-index: 2;
  @media (max-width: $px768) {  
      &-active {
        display: block;
      }
    }
    img {
      width: 30px;
      height: 30px;
      max-width: unset;
    }
}

