#advantages {
  display: flex;
  justify-content: center;
  min-height: unset;
}

.advantages__cards {
  display: flex;
  flex: 1;
  justify-content: space-between;
  min-height: auto;
  max-width: 1290px;
  position: relative;
  left: -20px;
  margin-top: 100px;
  
  @media (max-width: $px1024) {
    left: 0;
  }

  @media (max-width: $px768) {
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: $px480) {

    gap: 23px;
  }
}

.advantages__card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  margin-right: 10px;

  @media (max-width: $px1024) {
    flex-direction: column;
    max-width: 300px;
  }

  @media (max-width: $px768) {
    flex-direction: row;
    max-width: unset;
    width: 100%;
    align-items: center;
  }

  @media (max-width: $px480) {
    flex-direction: column;
    max-width: unset;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  h4 {
    margin-top: 5px;
    max-width: 320px;

    @media (max-width: $px768) {
      width: 100%;
      max-width: unset;
    }
  }
}

.img-container {
  position: relative;
  width: 60px;
  height: 60px;

  img {
    max-width: unset;
  }

  .blur {
    position: absolute;
    top: -86%;
    left: -109%;

    @media (max-width: $px480) {
      top: -53px;
      left: -60px;
    }
  }
}