#contacts {
  display: flex;
  position: relative;
  padding-top: 45px;
  padding-bottom: 50px;
  justify-content: center;
  width: 100%;

  @media (max-width: $px1024) {
    justify-content: flex-start;
    width: 100%;
    padding-top: 0;
  }

  .ellipse2 {
    top: 1%;
    left: 1%;
  }

  .ellipse3 {
    top: 39%;
    right: 25%;
  }
}

.contacts__content {
  display: flex;
  max-width: 1290px;
  gap: 30px;
  width: 100%;

  @media (max-width: $px1024) {
    flex-direction: column;
  }
}

.contacts-text {
  h2 {
    margin-top: 40px;
    margin-bottom: 45px;

    @media (max-width: $px480) {
      text-align: center;
    }
  }

  // @media (max-width: ${screen.screen768}) {
  //   max-width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  // }
}

.contacts_cards {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.contacts__card {
  display: flex;
  gap: 15px;

  @media (max-width: $px360) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  p {
    min-width: 135px;
    color: #AEC4B4;
  }

  span,
  a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;
  }

  span {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    @media (max-width: $px1024) {
      max-width: unset;
    }
  }
}

.icons-container {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 40px;
  transition: all 0.2s;

  @media (max-width: $px480) {
    justify-content: center;
  }

  img {
    &:hover {
      opacity: 0.95;
    }
  }
}

.contacts__map {
  max-width: 740px;
  position: relative;
  width: 100%;

  // outline: 1px solid red;
  @media (max-width: $px1024) {
    max-width: unset;
    width: 100%;
    height: 500px;
  }


}

.contacts-dot1 {
  right: -0.2vw;
  top: -5.3vh;
  opacity: 0.8;
}

#ymaps {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
}