#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;

  @media (max-width: $px480) {
    padding: 0 20px;
  }

  .ellipse2 {
    left: 7%;
    top: 8%;
  }

  .ellipse3 {
    right: 3%;
    top: 56%;
  }
}

.services__content {
  width: 100%;
  max-width: 1290px;
  margin-top: 90px;

  @media (max-width: $px480) {
    text-align: center;
  }

  @media (max-width: $px360) {
    overflow-wrap: anywhere;
  }



  h4 {
    line-height: 140%;
    max-width: 410px;
    min-width: 410px;
    margin-right: 40px;

    @media (max-width: $px1024) {
      max-width: unset;
    }

    @media (max-width: $px768) {
      min-width: unset;
      margin-right: unset;
    }
  }

  p {
    max-width: 620px;

    @media (max-width: $px1024) {
      max-width: unset;
    }
  }
}

.services__cards {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

.services__card {
  display: flex;
  padding: 20px 0;
  width: 100%;
  transition: all 0.2s;
  position: relative;
  border-radius: 8px;

  @media (max-width: $px768) {
    flex-direction: column;
    align-items: flex-start;

    &:hover {
      background: none;
      box-shadow: none;
    }
  }

  @media (max-width: $px480) {
    padding: 20px 30px;
  }

  &:hover {
    background: #00AE31;
    box-shadow: 30px 0px #00AE31, -30px 0px #00AE31;

    button {
      visibility: visible;
    }
  }
}

.services__card-text {
  display: flex;
  margin-right: auto;

  @media (max-width: $px1024) {
    flex-direction: column;
    max-width: 683px;
    gap: 40px;

    br {
      display: none;
    }
  }
}

.services-dot1 {
  top: -8.6vh;
  right: 0.8vw;
  opacity: 0.6;
}

.services__card__btn-cta {
  visibility: hidden;
  height: 55px;
  position: relative;
  display: block;
  width: 181px;
  height: 55px;
  border-radius: 8px;
  border: 1px solid white;
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  background: none;
  color: white;
  transition: background 0.2s, color 0, 2s;
  white-space: nowrap;
  padding: 12px 24px 14px;
  z-index: 1;


  @media (max-width: $px768) {
    visibility: visible;

    background: linear-gradient(93.58deg, #00AA30 0%, #00D03A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &:hover {
      background: linear-gradient(93.58deg, #00AA30 0%, #00D03A 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  @media (max-width: $px480) {
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    background: #FFFFFF;
    color: #00AE31;
  }
}

.button-bg {
  margin-left: 10px;

  @media (max-width: $px768) {
    background-color: white;
    height: 55px;
    border-radius: 8px;
    margin-top: 40px;
  }

  @media (max-width: $px480) {
    margin-left: auto;
    ;
    margin-right: auto;
    ;
  }
}