#stages {
  display: flex;
  justify-content: center;
  position: relative;

  .ellipse4 {
    left: 48%;
    top: 32%;

  }

  @media (max-width: $px1024) {
    justify-content: flex-start;
  }

  h2 {
    margin-bottom: 40px;

    @media (max-width: $px480) {
      text-align: center;
    }
  }

  h4 {
    margin-bottom: 30px;

    br {
      display: none;

      @media (max-width: $px360) {
        display: block;
      }
    }
  }
}

.stages__content {
  padding-top: 75px;

  @media (max-width: $px480) {
    padding-top: 90px;
  }
}

.stages__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1290px;
  row-gap: 50px;
  column-gap: 50px;

  @media (max-width: $px1024) {
    display: flex;
    flex-direction: column;
  }
}

.stages__card {
  position: relative;

}

.stages__card-number {
  position: absolute;
  left: -40px;
  top: -20px;
}